/*=============== ABOUT ===============*/
.offers__card:nth-child(1) {
  --background: linear-gradient(
      hsl(var(--color-blue), 0.1),
      hsl(var(--color-blue), 0.1)
    ),
    linear-gradient(var(--color-body), var(--color-body));
}

.offers__card:nth-child(2) {
  --background: linear-gradient(
      hsl(var(--color-blue), 0.175),
      hsl(var(--color-blue), 0.175)
    ),
    linear-gradient(var(--color-body), var(--color-body));
}

.tech .section__content {
  display: flex;
  flex-direction: column;
  gap: var(--margin-big);
}

.tech .tech__card {
  align-content: center;
  display: grid;
}

.tech .card__header {
  grid-template-areas:
    "icon"
    "heading";
  grid-template-columns: auto;
  justify-content: center;
  margin-bottom: unset;
  text-align: center;
}

.tech .card__icon {
  justify-self: center;
}

.tech .card__icon img {
  display: unset;
  width: var(--font-size-h1);
}

.process .card {
  padding-block: var(--margin-medium);
}

.process .list__item:nth-child(1) .card {
  --background: linear-gradient(
    90deg,
    hsl(var(--color-blue), 0.1) 0%,
    hsl(var(--color-blue), 0.25) 100%
  );
}

.process .list__item:nth-child(2) .card {
  --background: linear-gradient(
    90deg,
    hsl(var(--color-blue), 0.25) 0%,
    hsl(var(--color-blue), 0.325) 100%
  );
}

.process .list__item:nth-child(3) .card {
  --background: linear-gradient(
    90deg,
    hsl(var(--color-blue), 0.325) 0%,
    hsl(var(--color-purple), 0.325) 100%
  );
}

.process .list__item:nth-child(4) .card {
  --background: linear-gradient(
    90deg,
    hsl(var(--color-purple), 0.325) 0%,
    hsl(var(--color-purple), 0.4) 100%
  );
}

.process .item__header {
  display: flex;
  justify-content: space-between;
}

.process .item__heading {
  text-transform: uppercase;
}

.reason__menu .list {
  grid-template-columns: auto;
}

.reason__card .card__header {
  grid-template-areas:
    "icon label"
    "heading heading"
    "paragraph paragraph";
  grid-template-columns: repeat(2, auto);
  margin-bottom: unset;
}

.reason__card .card__label {
  justify-self: flex-end;
}

.reason__card .card__heading {
  margin-top: var(--margin-medium);
}

.reason__card .card__icon {
  justify-self: unset;
}

.reason__card .card__paragraph {
  border-top: 1px solid var(--color-text);
  padding-top: var(--margin-normal);
}

@media (min-width: 768px) {
  .tech {
    display: grid;
    gap: var(--margin-big);
    grid-template-areas: "header content";
  }

  .tech .section__header {
    align-self: flex-start;
    grid-area: header;
    grid-template-areas:
      "subheading"
      "heading"
      "paragraph"
      "nav";
    grid-template-columns: auto;
    position: sticky;
    top: calc(var(--header-height) + var(--margin-big));
  }

  .tech .section__content {
    grid-area: content;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .reason__card .card__header {
    grid-template-areas: "icon heading paragraph";
    grid-template-columns: min-content 1fr 2fr;
  }

  .reason__card .card__icon {
    margin-right: var(--margin-normal);
  }

  .reason__card .card__heading {
    margin-top: unset;
  }

  .reason__card .card__label {
    display: none;
  }

  .reason__card .card__paragraph {
    border-top: unset;
    padding-top: unset;
  }
}

@media (min-width: 1024px) {
  .process__menu .list {
    grid-template-columns: 20% auto 20% 20% auto 20%;
  }

  .process__menu .list__item:nth-child(2) {
    grid-column: span 2;
  }

  .process__menu .list__item:nth-child(3) {
    grid-column: 3 / span 3;
    grid-row: 2;
  }

  .process__menu .list__item:nth-child(4) {
    grid-column: 5 / span 2;
  }

  .process__menu .list__item {
    position: relative;
  }

  .process__menu .item__heading {
    position: absolute;
    transform: translateY(0.75rem);
  }

  .process__menu .item__heading + .item__heading {
    right: 0;
  }

  .process__menu .list__item:nth-child(4) .item__heading {
    right: 0;
  }

  .reason__menu .list {
    grid-template-columns: repeat(4, 1fr);
  }

  .reason__menu .list__item:nth-child(1),
  .reason__menu .list__item:nth-child(2) {
    margin-bottom: var(--margin-big);
  }

  .reason__menu .list__item:nth-child(3),
  .reason__menu .list__item:nth-child(4) {
    margin-top: var(--margin-big);
  }

  .reason__card {
    height: 100%;
    min-height: 24rem;
  }

  .reason__card .card__header {
    grid-template-rows: auto auto 0fr;
    height: 100%;
    transition: grid-template-rows 0.6s var(--transition-cubic-bezier);
  }

  .reason__card:is(:hover, :focus-visible) .card__header {
    grid-template-rows: auto auto 1fr;
  }

  .reason__card .card__heading {
    align-self: flex-end;
    margin-top: unset;
  }

  .reason__card .card__paragraph {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s var(--transition-cubic-bezier),
      opacity 0.6s var(--transition-cubic-bezier);
  }

  .reason__card:is(:hover, :focus-visible) .card__paragraph {
    max-height: 100%;
    opacity: 1;
  }
}
