/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@300;400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 6rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --color-white: 0, 0%, 100%;
  --color-black: 0, 0%, 2%;
  --color-red: 350, 88%, 61%;
  --color-orange: 13, 96%, 64%;
  --color-yellow: 42, 93%, 56%;
  --color-green: 135, 48%, 51%;
  --color-blue: 214, 89%, 52%;
  --color-purple: 248, 99%, 73%;

  --color-body: hsl(var(--color-white));
  --color-container: hsl(var(--color-black), 0.05);

  --color-title: hsl(var(--color-black), 0.6);
  --color-text: hsl(var(--color-black), 0.8);
  --color-text-light: hsl(var(--color-black), 0.2);
  --color-hover: hsl(var(--color-black), 0.05);

  /*========== Font & Typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --font-family: "Poppins", sans-serif;
  --font-family-title: "Baloo 2", cursive;

  --font-size-huge: clamp(2.5rem, 0.642rem + 9.285vw, 9rem);
  --font-size-big: clamp(1.75rem, 1.107rem + 3.214vw, 4rem);
  --font-size-subheading: clamp(1rem, 0.571rem + 2.143vw, 2.5rem);
  --font-size-h1: clamp(1.5rem, 1.286rem + 1.071vw, 2.25rem);
  --font-size-h2: clamp(1.25rem, 1.179rem + 0.357vw, 1.5rem);
  --font-size-h3: clamp(1rem, 0.929rem + 0.357vw, 1.25rem);
  --font-size-normal: clamp(0.938rem, 0.92rem + 0.089vw, 1rem);
  --font-size-small: clamp(0.813rem, 0.795rem + 0.089vw, 0.875rem);
  --font-size-smaller: clamp(0.75rem, 0.732rem + 0.09vw, 0.813rem);
  --font-size-tiny: 0.625rem;

  /*========== Font weight ==========*/
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /*========== Margins ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --margin-huge: clamp(2.5rem, 0.642rem + 9.285vw, 9rem);
  --margin-big: clamp(1.75rem, 1.107rem + 3.214vw, 4rem);
  --margin-normal: clamp(1rem, 0.929rem + 0.357vw, 1.25rem);
  --margin-small: clamp(0.5rem, 0.357rem + 0.714vw, 1rem);
  --margin-tiny: clamp(0.25rem, 0.179rem + 0.357vw, 0.5rem);

  /*========== Transitions ==========*/
  --transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

  /*========== Z-Index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*=============== THEME ===============*/
/*========== Colors ==========*/
@media (prefers-color-scheme: dark) {
  :root {
    --color-body: hsl(210, 4%, 10%);
    --color-container: hsl(210, 3%, 15%);
    --color-title: hsl(var(--color-white), 0.6);
    --color-text: hsl(var(--color-white), 0.8);
    --color-text-light: hsl(var(--color-white), 0.2);
    --color-hover: hsl(var(--color-white), 0.05);
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
}

body {
  background-color: var(--color-body);
  color: var(--color-text);
  margin-top: var(--header-height);
}

h1,
h2,
h3,
h4 {
  color: var(--color-title);
  font-family: var(--font-family-title);
  font-weight: var(--font-medium);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding-block: var(--margin-huge);
}

.container {
  margin-inline: auto;
  max-width: 1440px;
  padding-inline: var(--margin-normal);
}

/*=============== LINKS & BUTTONS ===============*/
.link {
  color: var(--color-text-light);
  cursor: pointer;
  transition: all 0.3s var(--transition-cubic-bezier);
}

.link:is(.link--active, :hover, :focus-visible) {
  color: var(--color-text);
}

.link--button {
  border-radius: 0.25rem;
  color: var(--color-title);
  display: inline-block;
  padding: var(--margin-tiny) var(--margin-small);
}

.link--button:is(.link--active, :hover, :focus-visible) {
  background-color: var(--color-hover);
}

@media (prefers-color-scheme: light) {
  .link--outline {
    color: var(--color-body);
    text-shadow: -1px 0 0 var(--color-text), 0 -1px 0 var(--color-text),
      0 1px 0 var(--color-text), 1px 0 0 var(--color-text);
  }
}

/*=============== ICONS ===============*/
.icon img {
  display: block;
  height: 100%;
  width: 1.25em;
}

/*=============== HEADER ===============*/
.header {
  background-color: var(--color-body);
  border-bottom: 1px solid var(--color-hover);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-fixed);
}

.nav {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: var(--margin-tiny);
}

.nav__logo,
.nav__link {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h3);
}

@media (prefers-reduced-motion: no-preference) {
  .header {
    --transform: translateY(-4rem);
    animation: appear 1.3s var(--transition-cubic-bezier) forwards;
    animation-delay: 900ms;
    opacity: 0;
  }
}

/*=============== MAIN ===============*/
/*========== Intro ==========*/
.intro {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - var(--header-height));
  justify-content: flex-end;
}

.intro__subheading {
  color: var(--color-title);
  display: flex;
  font-family: var(--font-family-title);
  font-size: var(--font-size-subheading);
  font-weight: var(--font-weight-light);
  margin-bottom: var(--margin-normal);
}

.intro__heading {
  font-size: var(--font-size-huge);
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  margin-bottom: var(--margin-small);
  text-transform: uppercase;
}

.intro__heading:not(:first-of-type) a::before {
  content: "&\20";
}

@media (prefers-reduced-motion: no-preference) {
  .intro__subheading {
    overflow: hidden;
  }

  .intro__subheading > span {
    --transform: translateY(4rem);
    animation: appear 1.9s var(--transition-cubic-bezier) forwards;
    opacity: 0;
  }

  .intro__heading {
    animation: appear 1.3s var(--transition-cubic-bezier) forwards;
    animation-delay: 600ms;
    opacity: 0;
  }

  .intro__heading:nth-of-type(1) {
    --transform: translateX(9rem);
  }

  .intro__heading:nth-of-type(2) {
    --transform: translateX(-6rem);
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: var(--transform);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
}

/*=============== FOOTER ===============*/
